body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

/* Navbar */
.navbar{
    background:#d60000;
    display:flex;
    align-items:center;
    padding:10px 20px;
    color:white;
}

.logo{
    font-size:28px;
    font-weight:bold;
    margin-right:30px;
}

.search-box{
    flex:1;
    display:flex;
}

.search-box input{
    width:100%;
    padding:10px;
    border:none;
    outline:none;
}

.search-box button{
    background:#333;
    color:white;
    border:none;
    padding:10px 15px;
}
.search-box button:hover{
    background:#555;
}
.nav-icons{
    margin-left:20px;
}

.nav-icons i{
    margin-left:20px;
    font-size:20px;
}

/* Categories */
.categories{
    background:white;
    display:flex;
    justify-content:space-around;
    padding:10px;
}

.categories div{
    cursor:pointer;
    font-weight:bold;
}
.categories div:hover{
    color:#d60000;
}
/* Ramzan Sale Banner */
.ramzan-sale-banner {
    background: linear-gradient(90deg, #406a01, #075900);
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.ramzan-sale-banner h1 {
    font-size: 36px;
    margin: 0;
}

.ramzan-sale-banner p {
    font-size: 20px;
    margin: 8px 0;
}

.ramzan-sale-banner button {
    background: white;
    color: #236d01;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}


/* Products */
/* .products{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
    padding:20px;
} */
 .products{
    display:grid;
    grid-template-columns: repeat(4, 1fr);  /* 4 cards per row */
    gap:20px;
    padding:20px;
}


.product{
    background:white;
    padding:10px;
    text-align:center;
    box-shadow:0 0 5px #ccc;
}

.product img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.product button{
    background:#d70000;
    color:white;
    border:none;
    padding:10px;
    width:100%;
    cursor:pointer;
}
.product button:hover{
    background:#ff1a1a;
}
footer {
    background-color: #333;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 1.8em;
}

footer p {
    margin: 5px 0;
    font-size: 0.95em;
}

.social-icons {
    margin: 15px 0;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #28a745; /* hover color */
}

.rights {
    margin-top: 15px;
    font-size: 0.85em;
    color: #bbb;
}
